<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <h2>Attendance updated for Student {{id}}</h2>
            <button [routerLink]="['/attendance']" class="btn btn-primary btn-sm mr-2" style="margin: 10px;">Go Back</button>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Overall Attendance for Student {{id}}, {{name}}:</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr *ngFor="let date of dates">
                            <td>{{date}}</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>